@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    background-color: #03020d;
    color: #fff;
    line-height: 1.6;
}

.container {
    max-width: 120rem;
    margin: 10rem auto;
    padding: 0 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;

    &-fit{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-weight: bold;
            font-weight: 1.4rem;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 3rem;
            }
        }

    }
}

.svg-1 {
    width: 3rem;
    height: 3rem;
    fill: #fff;
    margin-right: 1rem;
}

.primary-heading {
    display: inline-block;
}

.project-lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
    gap: 4rem;

    .card {
        background-color: rgb(109, 109, 109);
        padding: 2rem;
        border-radius: 10px;
        text-align: center;
        transition: all .1s ease-in-out;
        cursor: pointer;

        &:hover {
            // transform: translateY(-5px);
            transform: scale(1.02);
        }

        &-figure {
            width: 100%;
            margin: 0 auto;
            object-fit: cover;
        }

        &-img {
            width: inherit;
            object-fit: cover;
            min-height: 15rem;
            max-height: 20rem;
            border-radius: 10px;
        }

        &-info {
            &>* {
                margin: 1rem;
            }
        }

        &-desc {
            font-family: 'Open Sans', sans-serif;

        }
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: rgb(3, 91, 255);
    padding: 1rem 2rem;
    border-radius: 10px;

    &:hover {
        background-color: rgb(8, 44, 100);
    }
}

.makeItBold {
    display: inline-block;
    background-color: #eee;
    color: #000;
    font-weight: bold;
    transform: skewX(-10deg);
}
footer{
    text-align: center;
    padding-top: 10rem;
}